Repository Arquisoft/dede_en2a, pull requests merged in 2022-05, with the labels that each got.

#262 SOLID POD editing and Improvements
  restapi/products/ProductController.ts
  restapi/products/ProductRoutes.ts
  webapp/src/App.tsx
  webapp/src/api/api.ts
  webapp/src/components/AuthWrapper.tsx
  webapp/src/components/DashboardOutlet.tsx
  webapp/src/components/Shop.tsx
  webapp/src/components/cart/ShoppingCart.tsx
  webapp/src/components/cart/ShoppingCartTable.tsx
  webapp/src/components/checkout/ShippingAddress.tsx
  webapp/src/components/checkout/address/StreetAddress.tsx
  webapp/src/components/dashboard/account/AccountDetails.tsx
  webapp/src/components/dashboard/account/AddAddressDialog.tsx
  webapp/src/components/dashboard/account/EditAddressDialog.tsx
  webapp/src/components/dashboard/account/RemoveAddressDialog.tsx
  webapp/src/components/dashboard/charts/TotalOrdersChart.tsx
  webapp/src/components/dashboard/charts/TotalReceivedOrdersChart.tsx
  webapp/src/components/dashboard/charts/UniqueBuyersChart.tsx
  webapp/src/components/dashboard/misc/DashboardSideBar.tsx
  webapp/src/components/dashboard/misc/Subtitle.tsx
  webapp/src/components/dashboard/misc/Title.tsx
  webapp/src/components/dashboard/utils/DashboardSideBar.tsx
  webapp/src/components/home/FeaturedProducts.tsx
  webapp/src/components/home/Hero.tsx
  webapp/src/components/navigation/Drawer.tsx
  webapp/src/components/navigation/NavBar.tsx
  webapp/src/components/navigation/UserMenuButton.tsx
  webapp/src/components/products/ProductDetails.tsx
  webapp/src/components/products/ReviewDialog.tsx
  webapp/src/components/shop/Shop.tsx
  webapp/src/components/shop/comments/ProductComment.tsx
  webapp/src/components/shop/comments/ProductCommentList.tsx
  webapp/src/components/shop/dialogs/ReviewDialog.tsx
  webapp/src/components/shop/dialogs/ShareDialog.tsx
  webapp/src/components/shop/misc/CategoriesFilter.tsx
  webapp/src/components/shop/misc/ProductSpeedDial.tsx
  webapp/src/components/shop/misc/SortProducts.tsx
  webapp/src/components/shop/misc/StockAlert.tsx
  webapp/src/components/shop/products/ProductBox.tsx
  webapp/src/components/shop/products/ProductDetails.tsx
  webapp/src/components/shop/products/ProductList.tsx
  webapp/src/components/userManagement/SignIn.tsx
  webapp/src/helpers/SolidHelper.ts
  webapp/src/images/dede_logo.png
  webapp/src/images/dede_logo.svg
  webapp/src/images/dede_logo_mobile.svg
  webapp/src/shared/shareddtypes.ts
  webapp/src/tests/StockAlert.test.tsx
  webapp/src/tests/products/ProductBox.test.tsx
  webapp/src/tests/products/ProductComment.test.tsx
  webapp/src/tests/products/ProductCommentList.test.tsx
  webapp/src/tests/products/ProductDetails.test.tsx
  webapp/src/tests/products/ProductList.test.tsx
  webapp/src/tests/products/ProductSpeedDial.test.tsx
Labels: bug 🐛, application logic 📐, backend 🐱‍👤, frontend 👼

#273 Orders tests
  webapp/src/components/dashboard/orders/OrderList.tsx
  webapp/src/tests/dashboard/orders/OrderDetails.test.tsx
  webapp/src/tests/dashboard/orders/OrderList.test.tsx
Labels: frontend 👼, test 🔧

#274 Chart tests
  webapp/src/tests/dashboard/charts/LastMonthOrdersChart.test.tsx
  webapp/src/tests/dashboard/charts/TotalOrdersChart.test.tsx
  webapp/src/tests/dashboard/charts/TotalReceivedOrdersChart.test.tsx
  webapp/src/tests/dashboard/charts/UniqueBuyersChart.test.tsx
Labels: frontend 👼, test 🔧

#275 Account tests
  webapp/src/components/dashboard/account/AddAddressDialog.tsx
  webapp/src/components/dashboard/account/EditAddressDialog.tsx
  webapp/src/tests/dashboard/account/AccountDetails.test.tsx
  webapp/src/tests/dashboard/account/AddAddressDialog.test.tsx
  webapp/src/tests/dashboard/account/EditAddressDialog.test.tsx
  webapp/src/tests/dashboard/account/RemoveAddressDialog.test.tsx
Labels: frontend 👼, test 🔧

#276 General improvements of the app
  codecov.yml
  restapi/products/ProductController.ts
  restapi/tests/products.test.ts
  webapp/package.json
  webapp/public/favicon.ico
  webapp/src/App.tsx
  webapp/src/api/api.ts
  webapp/src/components/about/About.tsx
  webapp/src/components/cart/ShoppingCart.tsx
  webapp/src/components/checkout/ShippingAddress.tsx
  webapp/src/components/checkout/address/StreetAddress.tsx
  webapp/src/components/dashboard/account/AccountDetails.tsx
  webapp/src/components/dashboard/charts/TotalReceivedOrdersChart.tsx
  webapp/src/components/dashboard/misc/DashboardSideBar.tsx
  webapp/src/components/dashboard/orders/OrderList.tsx
  webapp/src/components/dashboard/products/DeleteProduct.tsx
  webapp/src/components/dashboard/products/UploadProduct.tsx
  webapp/src/components/navigation/NavMenu.tsx
  webapp/src/components/shop/Shop.tsx
  webapp/src/helpers/RoleHelper.ts
  webapp/src/tests/Footer.test.tsx
  webapp/src/tests/checkout/Checkout.test.tsx
  webapp/src/tests/checkout/ShippingAddress.test.tsx
  webapp/src/tests/home/FeaturedProducts.test.tsx
  webapp/src/tests/home/Hero.test.tsx
  webapp/src/tests/home/Home.test.tsx
Labels: application logic 📐, backend 🐱‍👤, frontend 👼

#278 fixing some issues regarding documentation
  docs/01_introduction_and_goals.adoc
  docs/02_architecture_constraints.adoc
  docs/03_system_scope_and_context.adoc
  docs/04_solution_strategy.adoc
  docs/05_building_block_view.adoc
  docs/06_runtime_view.adoc
  docs/07_deployment_view.adoc
  docs/08_concepts.adoc
  docs/09_design_decisions.adoc
  docs/10_quality_scenarios.adoc
  docs/11_technical_risks.adoc
  docs/12_glossary.adoc
  docs/about-arc42.adoc
  docs/images/dede_logo.svg
  docs/index.adoc
  webapp/src/components/navigation/Footer.tsx
Labels: application logic 📐, backend 🐱‍👤, frontend 👼
